@import "tailwindcss";

:root {
    --background: #121212;
    --surface: #1e1e1e;
    --primary: #bb86fc;
    --textlight: #ffffff;
    --textdark: #000000;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: #121212;
}
::-webkit-scrollbar-thumb {
  background: #1e1e1e;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--background);
    color: var(--foreground);
}
