@import "tailwindcss";

:root {
    --background: #121212;
    --surface: #1e1e1e;
    --primary: #bb86fc;
    --textlight: #ffffff;
    --textdark: #000000;
}

body {
    background: var(--background);
    color: var(--foreground);
}
