@import "tailwindcss";

:root {
    --background: #121212;
    --surface: #1e1e1e;
    --primary: #bb86fc;
    --primary-surface: #2f1f43;
    --textlight: #ffffff;
    --textdark: #000000;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: #121212;
}
::-webkit-scrollbar-thumb {
    background: #1e1e1e;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--background);
    color: var(--foreground);
}

@media (max-width: 1024px) {
    .main-block {
        transition: transform 0.3s ease-in-out;
        transform: translateX(-100%);
    }
    .chat-block {
        transition: transform 0.3s ease-in-out;
        transform: translateX(100%);
    }
    .main-block.visible,
    .chat-block.visible {
        transform: translateX(0);
    }
}
